BasedOnStyle: Google
IndentWidth: 8
ColumnLimit: 120
AlignConsecutiveMacros: true
AlignEscapedNewlines: true
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
KeepEmptyLinesAtTheStartOfBlocks: false
SortIncludes: false
SpaceAfterCStyleCast: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: false
